:root {
  --nav-width: 68px;

  --first-color: rgb(90, 86, 86);
  --first-color-light: #F7F6FB;
  --white-color: #f0bc74;
}

body {
    background-image: url('./image/StockManagementImage/backgroundImage.jpg');
    background-color: rgba(255, 255, 255, 0.719);
    padding-left: 90px;
}

.my-container {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100vmax;
    padding:5px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 130%;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 15px;
    border: groove 2px white;
    text-align:start;
    background-color: rgba(255, 255, 255, 0.719);
  }


  .plusButton {
    width: 15%;
    position:fixed;
    bottom: 50px;
    right: 70px;
    background: linear-gradient(165deg, rgba(2,0,36,1) 0%, rgba(26,50,181,1) 0%, rgba(191,112,250,1) 0%, rgba(0,212,255,1) 96%);
    border-radius: 50%;
  }


  
  @media screen and (min-width: 768px){
    .my-container{
      display: flex;
      flex-wrap:nowrap;
      width: 100%;
      height: 100%;
      padding: 1rem;
    }
    .plusButton {
        width: 8%;
        bottom: 50px;
        right: 20px;
    }
}

.circular{
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 90%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  overflow: hidden;
}



.sidebar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
  font-size: 1.5rem;
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
  text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
  color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
  top: 0;
  left: 0;
  height: 48px;
  z-index: 1000;
  width: 100vw;
  background: #234E70;
  padding: 15px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media screen and (min-width: 768px) {
  .mobile-bar{
      display: none;
      
  }    
  .sidebar {
      left:0;
  }
}



#mobile-hamburger {
  color: #eeeeee;
  z-index: 2000;   
  margin-left: 0;
}
