body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
}
#bg-image{
    filter: blur(5px);
    -webkit-filter: blur(5px);
   position:absolute;
   z-index:-5;
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#newInvoiceTitle{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top:0px;
    height:100px;
    width:100%;
    color:#000000;
    font-weight: 500;
    height:10vh;
    font-size: 20px;
    
}
#pageContent{
    height:100vh;
    width:100%;
    display:inline-block;
}

.InfoHeader{
    font-weight:500;
    font-size:20px;
}

#robot{
    height:100px;
    width:auto;
}

.invoiceInfo{
    display: flex;
    justify-content: space-around;
    margin:20px;
}
.deliveryDateTitle{
    text-align: end;
}

.productHeader{
        text-align: end;
    
}



#applyFilter{
    width:100%;
    background:#f8f8be;
    border: 5px double #234e70;
    font-weight: 1000;
}

#backPage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#backButton{
    width:50px;
    height:50px;
    font-size:50px;
    border-radius: 100%;
    color:#000000;
}

#addButton{
    width:50px;
    height:50px;
    font-size:20px;
    border-radius: 100%;
    color:#000000;
}
/* }order-radius: 100%;
} */

#searchIcon{
    font-size:25px;
    margin-right:5px;
}

.mobile-bar{
    top: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nabList{
    display:flex;
    padding-top: 20px;
}

#navbarContent{
    display:flex;
    justify-content: space-around;
}
#hamBur{
    display: flex;
    justify-content: start;
}

.topBar{
    border-bottom-left-radius:25%;
    border-bottom-right-radius:25%;
    width: 100%;
    background:#d8d8d8;
    height:15vh;
}

.invoiceInfo{
    display: flex;
    justify-content: center;
    text-align: center;

}

.TotalAmount{
    display:flex;
    font-size:30px;
}

#amend {
    border-radius: 25px;
}


#editArea{
    display: flex;
    justify-content: end;
    text-align: end;
}

#productList{
    background: 	hsla(0, 0%, 85%,0.7);
}

:root {
    --nav-width: 68px;

    --first-color: #234E70;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
    font-size: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
    color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
    top: 0;
    left: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #234E70;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}



@media screen and (min-width: 768px) {
    .mobile-bar{
        display: none;
        
    }    
    .sidebar {
        left:0;
    }
    .container .container-sm{
        max-width:300px;
    }
}



#mobile-hamburger {
    color: #eeeeee;
    z-index: 2000;   
    margin-left: 0;
}

#mobile-alert {
    color: #eeeeee;
    z-index: 2000;

}

input[type="text"], select[type="text"] {
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:1px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type="text"]:focus{
    border-color:#f0bc74;
    box-shadow:0 0 8px 0 #f0bc74;
  }

    
  select[type="text"]:focus{
    border-color:#f0bc74;
    box-shadow:0 0 8px 0 #f0bc74;
  }


  .arrow-left{
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
  }
