body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 65px;
}


:root {
    --nav-width: 68px;

    --first-color: #234E70;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}
#invoiceContentWallpaper{
    background: 	hsla(0, 0%, 85%,0.7);

}
#voiceSearch{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
#bg-image{
    filter: blur(5px);
    -webkit-filter: blur(5px);
   position:absolute;
   z-index:-5;
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.check{
    background:#00b350;
    border-radius: 100%;
    font-weight: 800;
    font-size:30px;
}

#invoiceListTitle{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top:0px;
    height:100px;
    width:100%;
    color:#000000;
    font-weight: 500;
    height:10vh;
    font-size: 30px;
}
#pageContent{
    height:100vh;
    width:100%;
    display:inline-block;
}
#invoiceInfoHeader{
    display:flex;
    justify-content: space-around;
    color:#000000;
    
    border-bottom: 1px hsla(255,0%,0%,0.3) solid;
    font-weight: 500;
    font-size:20px;
    text-align: center;
    align-items: center;
    height:5vh;
}

.invoiceInfoContent{
    display:flex;
    justify-content:space-around;
    font-weight: 400;
    width:100%;
    height:60px;
    color:#000000;
    
    border-bottom: 1px hsla(255,0%,0%,0.3) solid;
    text-align: center;
    align-items: center;
    margin-top:10px;
    font-size:20px;
    
}
#QuantityCheck{
display:flex;
width:100%;
text-align: center;

}

#invoiceContentDiv{
    overflow-y: scroll;height:40vh;
    text-align:justify;
    height:60vh;
}



#robot{
    height:100px;
    width:auto;
}



#bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
}

#search{
    width:30vw;
    height:5vh;
    margin-top:2vh;
    margin-bottom: 5vh;
    border-radius: 2%;

}
/* .navbar{
    border-top-left-radius:25%;
    border-top-right-radius:25%;
    width: 100%;
    background:#d8d8d8;
    height:25vh;
} */


#dateTitle{
    color:black;
    font-weight: 1000;
}

.dateFilter{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ClientNameRow{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#applyFilter{
    width:100%;
    background:#00b350;
    border: 5px double #d8d8d8;
    font-weight: 1000;
}

#backPage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#addPage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#backButton{
    width:50px;
    height:50px;
    font-size:50px;
    color:#000000;
    background-color: #d8d8d8;
    border-radius: 100%;
}

#addButton {
    width:50px;
    height:50px;
    font-size:50px;
    color:#000000;
    background-color: #d8d8d8;
    border-radius: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
    font-size: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
    color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
    top: 0;
    left: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #234E70;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (min-width: 768px) {
    .mobile-bar{
        display: none;
        
    }    
    .sidebar {
        left:0;
    }
}



#mobile-hamburger {
    color: #eeeeee;
    z-index: 2000;   
    margin-left: 0;
}

#mobile-alert {
    color: #eeeeee;
    z-index: 2000;

}
.arrow-left{
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-45deg);
  }
