
body{
    height:100vh;
    overflow:hidden;
   ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #d8d8d8
}
#img{
    overflow: hidden;
    max-height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
}
body {
    background:#f0bc74; 
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
}

@keyframes slideIn {
    0% {
    transform: translateX(500px) scale(.2);
    }
    100% {
transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
transform: translateY(300px);
    }
    100% {
transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
transform: translateX(1400px);
    }
    100% {
transform: translateX(0px);
    }
}

.bottom-container {
    max-width: 100%;
    overflow: hidden;
}