:root {
    --nav-width: 68px;

    --first-color: #234E70;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

body {
    background-color:#eeeeee;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
    font-size: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
    color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
    top: 0;
    left: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #234E70;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (min-width: 768px) {
    .mobile-bar{
        display: none;
        
    }    
    .sidebar {
        left:0;
    }
}



#mobile-hamburger {
    color: #eeeeee;
    z-index: 2000;   
    margin-left: 0;
}

#mobile-alert {
    color: #eeeeee;
    z-index: 2000;

}


.hide {
    display: none;
}

.show {
    display: block;
}


#invoiceListTitle{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top:0px;
    height:100px;
    width:100%;
    color:#234e70;
    font-weight: 1000;
    height:10vh;
    font-size: 30px;
    
}
#pageContent{
    height:100vh;
    width:100%;
    display:inline-block;
}
#invoiceInfoHeader{
    display:flex;
    justify-content: space-around;
    color:#234e70;
    font-weight: 1000;
    text-align: center;
    align-items: center;
    height:5vh;
}

.invoiceInfoContent{
    display:flex;
    justify-content:space-around;
    color:#234e70;
    font-weight: 1000;
    background: url(../Vector.svg) no-repeat center center;
    background-size:cover;
    width:100%;
    height:60px;
    color:#f8f8be;
    text-align: center;
    align-items: center;
    margin-top:10px;
    font-size:20px;
    
}

.invoiceContentDiv{
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    height:500px;
}



#robot{
    height:100px;
    width:auto;
}



.navbar fixed-bottom{
    background:#f8f8be;
}

#menuButton {
		color: black;
		display: flex;
		justify-content: center;
	}



#search{
    width:80%;
}
nav{
    border-top-left-radius:25%;
    border-top-right-radius:25%;
    width: 100%;
    background:#234e70;
    height:25vh;
}
#mic{
    font-size: 25px;
    margin-left:5px;

}

#dateTitle{
    color:black;
    font-weight: 1000;
}

#barContent{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    font-weight: 1000;
    height:20vh;
}
#searchBar{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dateFilter{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ClientNameRow{
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#applyFilter{
    width:100%;
    background:#f8f8be;
    border: 5px double #234e70;
    font-weight: 1000;
}

#backPage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#backButton{
    width:50px;
    height:50px;
    border:1px solid #234e70;
    border-radius: 100%;
}

