:root {
    --nav-width: 68px;

    --first-color: #234E70;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

body {
    background-color:#eeeeee;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
    font-size: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
    color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
    top: 0;
    left: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #234E70;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (min-width: 768px) {
    .mobile-bar{
        display: none;
        
    }    
    .sidebar {
        left:0;
    }
}



#mobile-hamburger {
    color: #eeeeee;
    z-index: 2000;   
    margin-left: 0;
}

#mobile-alert {
    color: #eeeeee;
    z-index: 2000;

}


.hide {
    display: none;
}

.show {
    display: block;
}


#robot{
    height:100px;
    width:auto;
}


#backPage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* #backButton{
    width:50px;
    height:50px;
    border:1px solid #234e70;
    border-radius: 100%;
} */

#functionButton {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
}

#invoiceListTitle{
    display:flex;
    text-align: center;
    align-items: center;
    top:0px;
    height:500px;
    width:100%;
    color:#234e70;
    font-weight: 1000;
    height:20vh;
    font-size: 20px;
    
}

