
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#e9dcf3;
    
}

:root {
    --nav-width: 68px;

    --first-color: #234E70;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#navButton-calendar, #navButton-invoice, #navButton-client, #navButton-alert, #navButton-logout{
    font-size: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

#navButton-calendar:hover, #navButton-invoice:hover, #navButton-client:hover, #navButton-alert:hover, #navButton-logout:hover{
    color: var(--white-color);
}

.menuIcons{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
overflow: hidden;
}

.mobile-bar{
    top: 0;
    left: 0;
    height: 48px;
    z-index: 1000;
    width: 100vw;
    background: #234E70;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (min-width: 768px) {
    .mobile-bar{
        display: none;
        
    }    
    .sidebar {
        left:0;
    }
}



#mobile-hamburger {
    color: #eeeeee;
    z-index: 2000;   
    margin-left: 0;
}

#mobile-alert {
    color: #eeeeee;
    z-index: 2000;

}


.hide {
    display: none;
}

.show {
    display: block;
}



#calendar {
    width: 100%;
    margin: 35px 5px; 
}


.fc a {
    color: black;

}
.fc .fc-toolbar-title {
    color: #eb3755;
    font-size: 30px;
    left: 60%;
    font-weight:bold;

}

.fc-event-time {
    display:none;
}

.fc-event-title {
    color: blue;
}



@media (min-width: 768px) {
    #calendar {
        width: 90%;
        position: relative;
        left:var(--nav-width) ;
    }

}
.fc a {
    color: black;
    font-size: 18px;
}
.fc .fc-toolbar-title {
    color: brown;
    font-size: 25px;
}

.fc .fc-toolbar{
    flex-wrap: wrap-reverse;
}

